<!-- Displaying Courses -->
<div class="container mt-5">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><a href='/courses/show?id=<%= course.id%>'><%= course.name %></a></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<nav aria-label="Page navigation example" class="Page">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
    <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
    <li class="page-item"><a class="page-link" href="?page=6">6</a></li>
    <li class="page-item"><a class="page-link" href="?page=7">7</a></li>
  </ul>
</nav>
