<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @course.name %></h5>
      <p class="card-text">Teacher: <%= @course.teacher.name %></p>
    </div>
  </div>
</div>